<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Live &#187; Uncategorized</title>
	<atom:link href="http://designova.net/themes/wordpress/live/?feed=rss2&#038;cat=1" rel="self" type="application/rss+xml" />
	<link>http://designova.net/themes/wordpress/live</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Tue, 26 Nov 2013 09:55:21 +0000</lastBuildDate>
	<language>en-US</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
	<item>
		<title>Our new post</title>
		<link>http://designova.net/themes/wordpress/live/?p=191</link>
		<comments>http://designova.net/themes/wordpress/live/?p=191#comments</comments>
		<pubDate>Tue, 28 May 2013 11:12:37 +0000</pubDate>
		<dc:creator><![CDATA[designovawp]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://localhost/live/?p=191</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.]]></description>
				<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
]]></content:encoded>
			<wfw:commentRss>http://designova.net/themes/wordpress/live/?feed=rss2&#038;p=191</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Our new theme</title>
		<link>http://designova.net/themes/wordpress/live/?p=186</link>
		<comments>http://designova.net/themes/wordpress/live/?p=186#comments</comments>
		<pubDate>Tue, 28 May 2013 10:53:02 +0000</pubDate>
		<dc:creator><![CDATA[designovawp]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://localhost/live/?p=186</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.]]></description>
				<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
]]></content:encoded>
			<wfw:commentRss>http://designova.net/themes/wordpress/live/?feed=rss2&#038;p=186</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>A new post</title>
		<link>http://designova.net/themes/wordpress/live/?p=183</link>
		<comments>http://designova.net/themes/wordpress/live/?p=183#comments</comments>
		<pubDate>Tue, 28 May 2013 10:50:54 +0000</pubDate>
		<dc:creator><![CDATA[designovawp]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://localhost/live/?p=183</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.]]></description>
				<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
]]></content:encoded>
			<wfw:commentRss>http://designova.net/themes/wordpress/live/?feed=rss2&#038;p=183</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Hello world!</title>
		<link>http://designova.net/themes/wordpress/live/?p=207</link>
		<comments>http://designova.net/themes/wordpress/live/?p=207#comments</comments>
		<pubDate>Sat, 18 May 2013 05:14:09 +0000</pubDate>
		<dc:creator><![CDATA[designovawp]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://localhost/live/?p=1</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.]]></description>
				<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id lorem eget orci dictum facilisis vel id tellus. Nullam iaculis arcu at mauris dapibus consectetur.</p>
]]></content:encoded>
			<wfw:commentRss>http://designova.net/themes/wordpress/live/?feed=rss2&#038;p=207</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
