<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Our new post</title>
	<atom:link href="http://designova.net/themes/wordpress/live/?feed=rss2&#038;p=191" rel="self" type="application/rss+xml" />
	<link>http://designova.net/themes/wordpress/live/?p=191</link>
	<description>Just another WordPress site</description>
	<lastBuildDate></lastBuildDate>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.8.2</generator>
</channel>
</rss>
