﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
	font-family:"Anklada";
	src:url("Anklada___.eot?") format("eot"),url("Anklada___.woff") format("woff"),url("Anklada___.ttf") format("truetype"),url("Anklada___.svg#Anklada") format("svg");font-weight:normal;font-style:normal;
	}

.anklada-text{
font-family:"Anklada";
	font-style: normal;
}

.mapas-blanco a:link, .mapas-blanco a:visited {
	color:#FFF;
}

.mapas-azul a:link, .mapas-azul a:visited {
	color:#1B51A1;
}