/*Content BG Parallax Layers*/
.pagesection-parallax
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.separator-parallax{
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;*/
  height: 100%;
  width: 100%;
  box-shadow:inset 0px 0px 0px #000000;
  min-height: 300px !important;
}






.about-parallax{
	background: url('../images/parallax/bg01.html') repeat-y center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.services-parallax{
	background: url('../images/parallax/bg01.html') repeat-y center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.features-parallax{
	background: url('../images/parallax/bg03.html') repeat-y center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.portfolio-parallax{
  background: url('../images/parallax/bg01.html') repeat-y center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.contact-parallax{
  background: url('../images/parallax/bg04.html') repeat-y center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/*Separator BG Parallax Layers*/

.separator01-parallax{
  background: url('../images/parallax/sep01.html') repeat-x center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  box-shadow:inset 0px 1px 12px #000000;
  height: 300px !important;
}


.separator02-parallax{
  background: url('../images/parallax/sep02.html') repeat-x center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  box-shadow:inset 0px 1px 12px #000000;
}

.separator03-parallax{
  background: url('../images/parallax/sep03.html') repeat-x center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  box-shadow:inset 0px 1px 12px #000000;
}

.separator04-parallax{
  background: url('../images/parallax/sep04.html') repeat-x center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  box-shadow:inset 0px 1px 12px #000000;
}

