.page{
    	/*padding-bottom: 60px !important;*/
    	padding-bottom: 0 !important;
        height: 0;
        min-height: 0 !important;
                  padding-top: 0 !important;
    }
    .carousel-indicators li{
        background: #000 !important;
        cursor: pointer;
    }

    .point-left > .carousel-indicators{
        left:0 !important;
    }
    #navigation {
/*    top: 0 !important;
    width: 100%;
    position: fixed !important;
    height: 70px;
    z-index: 1000;*/
    background: #000 !important;
    }
	.show-item{
		padding-top:0px !important;
	}
    .show-item-mid{
    	padding-bottom: 30px !important;
    }  
    .show-specs{
    	margin-top: 0px !important;
    } 